.workouts-container {
  padding: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.search-container h2{
  font-size: 40px;
}

.search-placeholder {
  margin-right: 10px;
}

.filter-placeholder {
  margin-right: 10px;
}

.search-container input[type="text"],
.search-container select {
  padding: 8px;
  margin-right: 10px;
}

.search-container button {
  padding: 8px 16px;
  background-color: #0b7152;
  color: white;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #074a36;
}

.workouts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 65px;
}

.workout-card {
  background-color: white;
  border-radius: 5px;
  padding-bottom: 42px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.workout-card:hover {
  transform: translateY(-5px); 
}

.workout-card h3{
  padding-left: 16px;
}

.workout-image-container {
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

.workout-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.workout-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.no-workouts {
  margin-top: 20px;
  color: gray;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.pagination-controls button {
  padding: 8px 16px;
  background-color: #0b7152;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 5px; 
}

.pagination-controls button:hover {
  background-color: #074a36;
}

.pagination-controls span {
  margin: 0 10px; 
  font-size: 16px;
}

#input-work{
  background: white;
  border: 1px solid black;
  border-radius: 8px;
  color: black;
}